.ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: var(--medium-gray);
    padding: 10px;
}

.ribbon .left_buttons button {
    margin-right: 5px;
}

.state_string {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--medium-gray);
    padding: 5px 15px;
}
