:root {
  --dark-wrapper: #0004;
  --dark-gray: #191919;
  --dark-shadow: #0002;
  --medium-gray: #2a2a2a;
  --lighter-gray: #303030;
  --light-gray: #404040;
  --semi-white: #606060;
  --mid-probability: #c8c8c8;
  --text-color: white;
  --mint: #25d99e;
  --orange: #eea820;
  --red: #f02b16;
  --red-shadow: #f02b161c;
  --black-text: #333;
  --monospace-font: "Roboto Mono", monospace;
  --sans-serif-font: "Roboto", sans-serif;
  --generic-transition: .2s;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark-gray);
  color: var(--text-color);
  font-family: var(--sans-serif-font);
  overflow: hidden;
  line-height: 1.8;
}

#worksheet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}

#worksheet text {
  fill: var(--text-color);
}

#windows {
  z-index: 10;
  position: absolute;
}

#windows[_state="modal"] {
  background: var(--dark-wrapper);
  width: 100%;
  height: 100%;
}

#windows[_state="inactive"] {
  display: none; 
}

input {
  border: 0;
  background: transparent;
  box-shadow: 0 -1px 0 0 var(--light-gray) inset;
  transition: .1s;
  outline: none;
  font: inherit;
  color: inherit;
}

input:hover {
  box-shadow: 0 -1px 0 0 var(--semi-white) inset;
}

input:focus {
  box-shadow: 0 -2px 0 0 var(--mint) inset;
}

input[_state="error"] {
  background: var(--red-shadow);
  box-shadow: 0 -2px 0 0 var(--red) inset;
}

button {
  border: 0;
  padding: 5px 20px;
  background: var(--light-gray);
  color: inherit;
  font: inherit;
  transition: .1s;
  cursor: pointer;
  outline: none
}

button:hover {
  box-shadow: 0 0 0 2px  var(--mint) inset;
}

button:active {
  background: var(--mint);
  color: var(--black-text);
}

button .fas {
  padding-right: 5px;
}
