.knot_node_edit_window_object .name_input {
	font-family: var(--monospace-font);
}

.knot_node_edit_window_object table {
	font-family: var(--monospace-font);
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0;
}

.knot_node_edit_window_object table td {
	padding: 6px 10px;
	outline: none;
}


.knot_node_edit_window_object table input {
	width: 75px;
	appearance: none
}

.knot_node_edit_window_object table tr td:nth-last-child(2) {
	border-left: 1px solid var(--text-color);
}
.knot_node_edit_window_object .save_button {
	margin: auto;
	display: block;
}
