:root {
  --dark-gray: #191919;
  --medium-gray: #2a2a2a;
  --lighter-gray: #303030;
  --light-gray: #404040;
  --text-color: white;
  --mint: #25d99e;
  --orange: #eed820;
  --red: #f02b16;
}

body {
  margin: 0;
  padding: 0;
  background: var(--dark-gray);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

#worksheet {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#worksheet text {
  fill: var(--text-color);
}

#arrows line {
  stroke-width: 1;
  stroke: var(--text-color);
  marker-end: url(#arrowtail_regular_svg);
}

#arrows line[_state="income"] {
  stroke: var(--mint);
  marker-end: url(#arrowtail_income_svg);
}

#arrows line[_state="outcome"] {
  stroke: var(--orange);
  marker-end: url(#arrowtail_outcome_svg);
}

#arrowtail_regular_svg {
  fill: var(--text-color);
}

#arrowtail_income_svg {
  fill: var(--mint);
}

#arrowtail_outcome_svg {
  fill: var(--orange)
}

.node-group {
  height: 40px;
}

.node-group rect {
  fill: var(--medium-gray);
  cursor: pointer;
  height: 40px;
  transition-property: fill, stroke;
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.node-group rect:hover {
  fill: var(--lighter-gray);
}

.node-group rect:active {
  stroke: var(--light-gray);
  stroke-width: 4px;
  stroke-linejoin: round;
  shape-rendering: crispedges;
}

.node-group text {
  width: 150px;
  height: 1em;
  aligment-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
}
